body {
    background: linear-gradient(to right, #2ebf91, #8360c3);
}

h1 {
    font-family: fantasy;
    font-size: 75px;
}

header {
    display: flex;

    background-color: rgb(80, 115, 136);
    color: rgb(28, 47, 59);
}

nav {
    margin: auto;
    display: flex;
}


nav a { 
    
    font-size: 28px;
    color: #58a6b9; 
}


img {
    margin-top: 7%;
    border: 1px solid rgb(3, 44, 21);
    border-radius: 4px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 393px;
    width: 632px;
    
}

img:hover {
    box-shadow: 0 0 2px 1px (0, 140, 186, 0.5);
}

h2 {
    margin: 2% 38%;
    font-size: 45px;
    color: #0a0a0a;
}

.p {
    font-size: 32px;
    padding: 6%;
    font-family: fantasy;
}


footer {
    display: flex;
    justify-content: center;
    padding: 4%;
    background-color: rgb(80, 115, 136);
    color: rgb(5, 5, 5);
    font-size: 32px;
  }
   



